* {
  box-sizing: border-box; }

.full-width {
  width: 100%; }

html, body {
  min-height: 100%;
  margin: 0; }

html[lang="fa"] #docs,
html[lang="fa"] #instructions,
html[lang="fa"] #credits .translate,
a[href="#fa"] {
  direction: rtl;
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

.container {
  display: flex;
  min-width: 600px;
  min-height: 100%;
  margin: 0;
  background-image: url("../images/eridani_wars_back.jpg");
  color: rgba(255, 255, 255, 0.8);
  font-family: 'PT Sans', sans-serif; }

#sidebar {
  width: 50%;
  min-width: 300px;
  position: relative;
  padding: 1em;
  font-size: 15px; }

#view {
  min-height: 100vh;
  padding: 1em; }

h1 {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-size: 30px; }

pre {
  margin: 0;
  white-space: pre-wrap; }

code {
  padding: 0 2px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8); }

li {
  line-height: 1.5; }

a {
  color: rgba(255, 255, 255, 0.7); }

a:hover {
  color: #fff; }

.help {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7); }

.tooltip {
  position: absolute;
  display: inline-block;
  max-width: 300px;
  padding: 0 1em 1em;
  background-color: #1F182D;
  border: 2px solid #556171;
  border-radius: 12px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 60; }

.flex {
  display: flex; }

.tooltip:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #556171; }

.tooltip code {
  margin-right: 0.5em; }

#share {
  display: none;
  margin-bottom: 3em;
  text-align: center; }

.fb-like {
  z-index: 20;
  vertical-align: top; }

.img-next {
  text-align: center; }

.img-next img {
  display: inline-block;
  margin: 1em;
  width: 200px;
  opacity: 0.9; }

.img-next img:hover {
  opacity: 1; }

#editor {
  position: relative;
  margin-top: 10px; }

#editor,
pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8); }

#css {
  height: 375px;
  position: relative;
  padding: 15px 10px 10px 20px;
  background-color: #1F182D;
  border: 5px solid #556171;
  border-radius: 12px;
  overflow: hidden; }

.line-numbers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 6px;
  text-align: right;
  background-color: #999;
  color: #D5D5D5; }

#code {
  display: block;
  width: calc(100% - 16px);
  height: 24px;
  margin-left: 16px;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
  background-color: #556171;
  color: white; }

#level-counter, #back-to-the-game {
  float: right;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#levelsWrapper {
  outline: none;
  top: 30px;
  right: 20px;
  max-width: 160px;
  padding: 1em 0.5em;
  margin-top: 12px; }

#levelsWrapper:after {
  left: calc(50% - 12px); }

#levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.level-marker {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer; }

.level-marker.current,
.level-marker:hover {
  border-color: rgba(255, 255, 255, 0.5); }

.level-marker.solved {
  background-color: #286C72; }

#level-indicator,
.arrow {
  float: left;
  height: 30px; }

#level-indicator {
  display: inline-block;
  width: 160px;
  line-height: 30px;
  text-align: center;
  cursor: pointer; }

#labelLevel {
  margin-left: 5px; }

.caret {
  display: inline-block;
  margin-left: 2px; }

#level-indicator:hover {
  background-color: rgba(255, 255, 255, 0.2); }

#labelReset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer; }

.arrow {
  display: inline-block;
  font-family: 'Comic Sans MS';
  padding: 0.25em 0.4em 0.2em;
  outline: none;
  cursor: pointer;
  font-size: 14px; }

.arrow.left {
  border-right: 1px solid rgba(255, 255, 255, 0.2); }

.arrow.right {
  border-left: 1px solid rgba(255, 255, 255, 0.2); }

.arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed; }

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: #1F182D;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none; }

button:active {
  outline: none; }

button:not(.disabled):hover {
  background-color: #286C72; }

#next {
  position: absolute;
  right: 18.5em;
  bottom: 1em;
  outline: none;
  display: block;
  margin: 100px 0 0 100px;
  width: 45px;
  height: 45px;
  border: solid 3px rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  z-index: 1;
  transition: all .2s linear; }
  #next:before, #next:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .2s linear; }
  #next:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg); }
  #next:hover {
    border: solid 7px rgba(255, 255, 255, 0.8);
    background: transparent; }
    #next:hover:after, #next:hover:before {
      background: rgba(255, 255, 255, 0.8); }
  #next:active {
    border: solid 7px #286C72; }
    #next:active:after, #next:active:before {
      background: #286C72; }

#next:not(.disabled) {
  animation: pulse 2s linear infinite; }

#next.disabled {
  opacity: 0.5; }

.credits {
  margin-top: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4); }

#language {
  position: relative; }

#language .toggle {
  display: inline-block;
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  user-select: none; }

#language .toggle:hover {
  background-color: rgba(255, 255, 255, 0.3); }

#language .tooltip {
  display: none;
  bottom: 30px;
  left: 0px;
  width: 200px;
  padding: 1em; }

#language .tooltip:after {
  top: auto;
  bottom: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #2c3e50;
  border-bottom: none; }

#language .tooltip a {
  padding: 0 2px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap; }

#language .tooltip a:hover {
  color: #fff; }

#board {
  position: relative;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  overflow: hidden;
  border: 5px solid #556171;
  border-radius: 12px; }

#garden,
#plants,
#soil,
#overlay {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#plants {
  z-index: 30; }

#soil {
  background-color: #ACBBCC;
  overflow: hidden; }

.plot {
  width: 100%;
  height: 100%;
  background-size: calc(10vw - 4px); }
  .plot:nth-child(7n) {
    background-image: url("../images/demo_area_air_back_2.png"); }
  .plot:nth-child(7n+1) {
    background-image: url("../images/demo_area_air_back_7.png"); }
  .plot:nth-child(7n+2) {
    background-image: url("../images/demo_area_air_back_6.png"); }
  .plot:nth-child(7n+3) {
    background-image: url("../images/demo_area_air_back_4.png"); }
  .plot:nth-child(7n+4) {
    background-image: url("../images/demo_area_air_back_3.png"); }
  .plot:nth-child(7n+5) {
    background-image: url("../images/demo_area_air_back_1.png"); }
  .plot:nth-child(7n+6) {
    background-image: url("../images/demo_area_air_back_5.png"); }

#overlay .plot {
  z-index: 50;
  background: none;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #536173; }

#garden {
  z-index: 20; }

.plant,
.treatment {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.plant .bg,
.treatment .bg {
  width: 100%;
  height: 100%;
  background-position: left top;
  background-size: calc(10vw - 4px); }

.treatment .bg {
  border: 5px solid rgba(255, 255, 255, 0.4);
  border-width: 3px 5px 5px 3px; }

.plant.carrot .bg {
  background-image: url("../images/Human_fighter_air_noBack.png"); }

.plant.weed .bg {
  background-image: url("../images/Plati_fighter_air_noBack.png"); }

.plant.carrot.correct .bg {
  background-image: url("../images/carrots-correct.svg"); }

.plant.weed.correct .bg {
  background-image: url("../images/weeds-correct.svg"); }

.treatment.carrot .bg {
  background-color: #518cb3;
  background-image: url("../images/water.svg");
  animation: scroll 6s linear infinite; }

.treatment.weed .bg {
  background-color: #63393E;
  background-image: url("../images/poison.svg");
  animation: scroll 6s linear infinite; }

#overlay.win:before {
  content: '';
  display: block;
  position: absolute;
  top: 18%;
  left: 41%;
  width: 8%;
  height: 8%;
  background-image: url("../images/froggy.svg");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 110;
  animation: bounce 2s linear infinite; }

#overlay.win:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/carrots-win.png");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 100; }

#garden.win {
  display: none; }

.grid-column-start-1 {
  grid-column-start: 1; }

.grid-column-start-2 {
  grid-column-start: 2; }

.grid-column-start-5 {
  grid-column-start: 5; }

.grid-column-end-6 {
  grid-column-end: 6; }

.grid-column-4 {
  grid-column: 4;
  grid-row: 1 / 6; }

.grid-template-columns-repeat-8-12 {
  grid-template-columns: repeat(8, 12.5%) !important; }

.grid-template-columns-100px-3em-40p {
  grid-template-columns: 100px 3em 40% !important; }

.grid-template-columns-1fr-5fr {
  grid-template-columns: 1fr 5fr !important; }

.grid-template-columns-75px-2fr-1fr {
  grid-template-columns: 75px 2fr 1fr !important; }

.grid-template-columns-50px-1fr-1fr-1fr-50px {
  grid-template-columns: 50px 1fr 1fr 1fr 50px !important; }

.grid-template-rows-50px-0-0-0-1fr {
  grid-template-rows: 50px 0 0 0 1fr !important; }

.grid-template-rows-100p {
  grid-template-rows: 100% !important; }

.grid-template-columns-6 {
  grid-template-columns: 75px 3fr 2fr !important;
  grid-template-rows: 100% !important; }

.grid-area-1-1-6-2 {
  grid-area: 1 / 1 / 6 / 2; }

.grid-area-5-1-6-6 {
  grid-area: 5 / 1 / 6 / 6; }

.grid-area-1-5-6-6 {
  grid-area: 1 / 5 / 6 / 6; }

.grid-template-2 {
  grid-template: 1fr 50px / 20% 1fr !important; }

@keyframes scroll {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 calc(10vw - 4px); } }

.level-intructions-container {
  position: relative; }

.image {
  margin-right: 20px; }

.instructions-container {
  border: 5px solid #556171;
  border-radius: 12px; }

.title {
  margin: 5px 0 19px; }
